<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
	<head>
		<title>Task Saver</title>
	</head>
	<body>
		{{{ body }}}
	</body>
=======

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>MVC With Cats!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/cats.js"></script>
</head>

<body>
    {{{ body }}}
</body>

>>>>>>> fa14f8306bea4f6d045dfc98e4d9e788b97ccba0
</html>